# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/PupilBookWebApp/nbproject/private/
/PupilBookWebApp/build/
/tests/nbproject/private/
/tests/build/
/PupilBookWebAppV2/nbproject/private/
/PupilBookV3/nbproject/private/
/PupilBookV3/build/
/PupilBookV4/nbproject/private/
/PupilBookV4/build/
/PupilBookWebAppV2/build/
/PupilBookV5/nbproject/private/
/PupilBookV5/build/
/PupilBookV6/nbproject/private/
/PupilBookV6/build/
/PupilBookV7/nbproject/private/
/PupilBookV7/build/
/JPATeats/nbproject/private/
/WebApplication8/nbproject/private/
/PupilBookV8/nbproject/private/
/PupilBookV8/build/
/PuplBookV9/target/
/PupilBookV10/nbproject/private/
/PupilBookV10/build/
/WebApplication1TEST/nbproject/private/
/test/nbproject/private/
/test/build/
/Tests2/nbproject/private/
/Tests2/build/
/HelloWorld/nbproject/private/
/HelloWorld/build/
/PupilBookV10/dist/
/PupilBookV11/nbproject/private/
/PupilBookV11/build/
/PupilBookV11/dist/
/Popapu AngularJS/nbproject/private/
/PupilBookStudentsAngularJS/nbproject/private/